c/main-part1
c/main-part1.o
c/main-part2
c/main-part2.o
go/main-part1
go/main-part2
c++/build
haskell/main-part1
haskell/main-part1.hi
haskell/main-part1.o
haskell/main-part2
haskell/main-part2.hi
haskell/main-part2.o
java-impl/**/*.class
rust/target
rust/Cargo.lock
typescript/main.js
typescript/node_modules
typescript/package-lock.json